<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="" th:fragment="libraries">

    <link rel="stylesheet/less" type="text/css" th:href="@{css/main.less}" />
    <link rel="stylesheet" type="text/css" href="/webjars/font-awesome/4.4.0/css/font-awesome.min.css"/>

    <script type="text/javascript" src="/webjars/less/3.8.1/less.js"></script>
    <script type="text/javascript" src="/webjars/vue/2.6.11/vue.min.js"></script>
    <script type="text/javascript" src="/webjars/vue-router/3.1.6/dist/vue-router.min.js"></script>
    <script type="text/javascript" src="/webjars/vuex/2.5.0/dist/vuex.min.js"></script>
    <script type="text/javascript" src="/webjars/axios/0.19.2/dist/axios.min.js"></script>
    <script type="text/javascript" th:src="@{js/utils.js}"></script>
    <script type="text/javascript" th:src="@{js/VuexStore.js}"></script>
    <script type="text/javascript" th:src="@{js/router.js}"></script>
    <script type="text/javascript" th:src="@{js/root.js}"></script>
    <script type="text/javascript" th:src="@{js/components/accordion/accordion.js}"></script>
    <script type="text/javascript" th:src="@{js/components/registrationForm/registration.js}"></script>
    <script type="text/javascript" th:src="@{js/components/loginForm/loginForm.js}"></script>
    <script type="text/javascript" th:src="@{js/components/newsComponent/newsComponent.js}"></script>
    <script type="text/javascript" th:src="@{js/components/editUserFeedsComponent/editUserFeeds.js}"></script>
    <script type="text/javascript" th:src="@{js/components/feedManager/feedManager.js}"></script>
    <script type="text/javascript" th:src="@{js/components/modalDialog/modalDialog.js}"></script>
    <script type="text/javascript" th:src="@{js/components/modalDialog/modalDialog.js}"></script>
    <script type="text/javascript" th:src="@{js/components/editFeedComponent/editFeed.js}"></script>
    <script type="text/javascript" th:src="@{js/components/addFeedComponent/addFeed.js}"></script>
    <script type="text/javascript" th:src="@{js/components/technicalFeed/technicalFeed.js}"></script>

</div>
</body>
</html>