<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="login-component">
    <script type="text/x-template" id="login-template">
        <div class="news-service-login">
            <div class="news-service-login__container">
                <div class="news-service-login__title">
                    <span>Login</span>
                </div>
                <div class="news-service-login__form">
                    <div class="news-service-login__form-input">
                        <input id="login"
                               placeholder="Login"
                               type="text"
                               @click="wrongCredentials=false"
                               aria-label="Login field"
                               v-model.trim="login">
                    </div>
                    <div class="news-service-login__form-input">
                        <input id="password"
                               placeholder="Password"
                               type="password"
                               aria-label="Password field"
                               v-model.trim="password"
                               v-on:keyup.enter="signIn">
                    </div>
                    <div class="warning-container">
                        <span v-show="wrongCredentials"
                              class="warning">You've entered wrong credentials. Try again.</span>
                    </div>
                    <div class="news-service-login__form-action">
                        <button class="news-service-login__btn"
                                type="submit"
                                aria-label="Sign in"
                                @click="signIn">Sign in
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>

</html>