<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="fragments/libraries-fragment::libraries"></div>
<div th:insert="fragments/components/RegistrationComponent::registration-component"></div>
<div th:insert="fragments/components/LoginComponent::login-component"></div>
<div th:insert="fragments/components/NewsComponent::news-component"></div>
<div id="news-app">
    <div class="news-service-header news-service-header_black">
        <div class="news-service-header__items">
            <div class="news-service-header__navigation-tabs">
                <div v-if="isLoggedIn" class="news-service-header__item">
                    <!--                <router-link class="news-service-header__title" to="/search">Search</router-link>-->
                </div>
                <div v-if="isLoggedIn" class="news-service-header__item">
                    <!--                <router-link class="news-service-header__title" to="/imageSearch">Image Search</router-link>-->
                </div>
                <div v-if="isLoggedIn && hasRole('MAUI', 'MAUI test role')" class="news-service-header__item">
                    <!--                <router-link class="news-service-header__title" to="/secured/imageSearch">Secured Image Search</router-link>-->
                </div>
            </div>
            <div class="news-service-header__menu-tabs">
                <div v-if="!isLoggedIn" class="news-service-header__item">
                                    <router-link class="news-service-header__btn" to="/registration">Register</router-link>
                </div>
                <div v-if="!isLoggedIn" class="news-service-header__item">
                                    <router-link class="news-service-header__btn" to="/login">Login</router-link>
                </div>
                <div class="user-section">
                    <div v-if="isLoggedIn" class="news-service-header__item">
                        <!--                    <user-info :source-url="'https://maui-dev-gateway.wcms-nonprod.c.eu-de-2.cloud.sap/oauth/logout'"-->
                        <!--                    ></user-info>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="route-container" style="min-height: 810px;">
        <router-view></router-view>
    </div>
</div>


</body>
</html>